@font-face {
    font-family: 'lucida_faxregular';
    src: url('../fonts/lucida_fax_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_fax_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lucida_sansregular';
    src: url('../fonts/lucida_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
